
program_1/\.vs/

program_1/program_1/bin/Debug/

program_1/program_1/obj/

program_2/\.vs/

program_2/program_2/bin/

program_2/program_2/obj/

program_3/program_3/.vs/

program_3/program_3/program_3/bin/

program_3/program_3/program_3/obj/
